.container {
    width: 600px;
    margin: 0 auto;
    border: 3px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(10px);
    padding: 25px;
    border-radius: 10px;
    color: #fff;
    font-family: monospace;
}		

.Firstname {
    width: 97%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
.Middlename {
    width: 97%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
.Surname {
    width: 97%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
.Age {
    width: 97%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
.Email {
    width: 97%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
body{
    background-color: lightblue;
    background-image: url("background2.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0;
}
input[type=text], input[type=Password] {
    width: 97%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=Password]:focus {
    background-color: #ddd;
    outline: none;
}
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}	
.Registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.Registerbtn:hover {
    opacity:1;
}

a {
    color: dodgerblue;
}

h1 {
    text-align: center;
}
p {
    text-align: center;
}